name: seflow
channels:
  - conda-forge
  - pytorch
dependencies:
  - python=3.8
  - pytorch::pytorch=2.0.0
  - pytorch::torchvision
  - pytorch::pytorch-cuda=11.7
  - nvidia/label/cuda-11.7.0::cuda
  - lightning==2.0.1
  - mkl==2024.0.0
  - numba
  - numpy
  - pandas
  - pip
  - scipy
  - tqdm
  - h5py
  - wandb
  - omegaconf
  - hydra-core
  - fire
  - tabulate
  - scikit-learn==1.3.2
  - hdbscan
  - setuptools==69.5.1
  - pip:
    - open3d==0.18.0
    - dztimer
    - av2==0.2.1

# Reason about the version fixed:
# setuptools==68.5.1: https://github.com/aws-neuron/aws-neuron-sdk/issues/893
# mkl==2024.0.0: https://github.com/pytorch/pytorch/issues/123097#issue-2218541307
# av2==0.2.1: in case other version deleted some functions.
# lightning==2.0.1: https://stackoverflow.com/questions/76647518/how-to-fix-error-cannot-import-name-modelmetaclass-from-pydantic-main
# open3d==0.18.0: because 0.17.0 have bug on set the view json file
